.head-space {margin: 5% 0px;}

.label-link {display:block; font-size:2em; background-color: #2ba6cb;color:#fff;padding: 0px 10px;}

.pic {display:block; background-color: #fafafa; height: 50px;border: 1px solid #ccc;}

.comment-fix {min-height:90px;}

.panel-bg {background-color: #fff;}